* {
	box-sizing: border-box; 
}

@media screen and (max-width: 600px) {
	row {
		width: 80%
	}
	list, treemap, histogram {
		width: 100%;
		flex-wrap: wrap; 
	}


}

body {
	background-color: #192444;
	color: white; 
	/* Same as Plotly default font family spec */
	font-family: "Open Sans", verdana, arial, sans-serif;
}

header {
	text-align: center; 
}

#button_bar {
	display: flex;
}

#button_content {
	display: flex;
	justify-content: center;
	width: 30%;
	margin: auto;
}

#button {
	margin-right: 10px;
}

#last_update {
	display: flex; 
}

.row {
	display: flex;
	width: 60%;
	justify-content: space-between;
	margin: auto;
	margin-top: 25px;
	padding: 10px 5px 10px 5px;
	background-color: #1f2c56;
}

#row1 {
	display: flex;
	height: 500px;
}

#row2 {
	display: flex; 
	height: 400px;
}

.dropdown {
	display: flex;
	margin: auto;
	width: 80%;
	color: black;
}

#list {
	width: 40%;
}

#treemap {
	width: 60%;
}

.histogram {
	justify-content: space-evenly;
	width: 33%;
}

.plot_header {
	text-align: center;
	font-size: 1.2em;
	margin: 0px 0px 10px 0px;
}

.plotly_elem {
	display: flex; 
	justify-content: center;
	width: 100%;
	margin: auto; 
}

footer {
	display: flex; 
	height: 100px;
	margin-top: 30px;
	background-color: #1f2c56;
}

